@CHARSET "UTF-8";

html,body{
	font-size:14px;
	color:#555;
}
a{
	text-decoration: none;
}
a:link, a:visited{color:#844;}
a:hover {color:#faa;}
p,form{
	margin:0;
	padding: 4px 0;
}
h1{
	margin: 10px 0;
	padding: 0;
	font-size: 32px;
	text-align: center;
}
h2{
	font-size: 28px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.error{
	font-weight:bold;
	color:#c44;
}

.body{
	width:100%;
}

.center{
	text-align: center;
}

.centerLeft{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 850px;
}

.clear{
	clear:both;
}

#left{
	height: 79px;
	width: 770px;
	float:left;
	margin-left: 20px;
	display: block;
}
#icon{
	float:left;
	width: 90px;
}

#search {
	height:75px;
	float: right;
	width: 500px;
	line-height: 75px;
	position: relative;
}

#searchform{
	width: 90%;
	height: 25px;
}
#searchimage{
	position: absolute;
	top:25%;
	magin-top: 10px;
}

#right{
	height: 79px;
	width: 430px;
	float: right;
	margin-right: 20px;
}

#right lu{
	padding: 0px;
	margin: 0px;
}

#right ul li{
	float: right;
	width: 55px;
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	display: block;
}

#right ul li a{
	font-size: 10px;
	text-decoration: none;
	color: #000;
	display: block;
}

#dropmenu {
	list-style-type: none;
	width: 100%;
	height: 40px;
	margin: 10xp auto 200px;
	padding: 0;
	background: #000;
}
#dropmenu li {
	position: relative;
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
#dropmenu li a {
	display: block;
	margin: 0;
	padding: 12px 0 9px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	text-decoration: none;
}
#dropmenu li ul {
	list-style: none;
	position: absolute;
	top: 110%;
	left: 0;
	margin: 0;
	padding: 0;
}

#dropmenu li ul li{
	width: 100%;
	overflow: hidden;
	height: 0;
	color: #ffffff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}
#dropmenu li ul li a{
	padding: 12.5px 69px 12.5px 15px;
	background: #00aaee;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
}

#dropmenu li:hover > a{
	background: #00aaee;
	color: #ffff00;
}
#dropmenu li:hover ul li{
	overflow: visible;
	height: 38px;
	border-top: 0px solid #ffffff;
	border-bottom: 0px solid #006699;
}
#dropmenu li:hover ul li:first-child{
	border-top: 0;
}
#dropmenu li:hover ul li:last-child{
	border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
	border-radius: 0 0 3px 3px;
}
#productoption{
	display: inline-block;
	list-style-type: none;
	margin-bottom: 60px;
	width:200px;
	height:37px;
}
#productoption li{
	margin-bottom: 13px;
	padding: 4px 0 3px;
	background: #fff;
	color: #000;
	font-size: 25px;
	line-height: 1;
	border: 1px solid #000;
}